<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Madlibs yo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in some words for a Madlib, dude.</h1>
    <form action="/Madlibs" method="post">

      <label for="person">PERSON`</label>
      <input id="person" name="person" type="text"><br>
      <label for="adjective">ADJECTIVE</label>
      <input id="adjective" name="adjective" type="text"><br>
      <label for="place">PLACE</label>
      <input id="place" name="place" type="text"><br>
      <label for="pluralthing">PLURAL THING</label>
      <input id="pluralthing" name="pluralthing" type="text"><br>
      <label for="food">FOOD</label>
      <input id="food" name="food" type="text"><br>
      <label for="song">SONG TITLE</label>
      <input id="song" name="song" type="text"><br>
      <label for="pluralthing2">PLURAL THING</label>
      <input id="pluralthing2" name="pluralthing2" type="text"><br>
      <label for="feeling">FEELING</label>
      <input id="feeling" name="feeling" type="text"><br>
      <label for="celebrity">CELEBRTITY</label>
      <input id="celebrity" name="celebrity" type="text"><br>
      <label for="verb">VERB</label>
      <input id="verb" name="verb" type="text"><br>


     <button type="submit">Go!</button>
    </form>
  </body>
</html>
