<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Madlibs yo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in some words for a Madlib, dude.</h1>
    <form action="/Madlibs" method="post">

      <label for="name">NAME</label>
      <input id="name" name="name" type="text"><br>
      <label for="verb">VERB</label>
      <input id="verb" name="verb" type="text"><br>
      <label for="noun">NOUN</label>
      <input id="noun" name="noun" type="text"><br>
      <label for="adjective">ADJECTIVE</label>
      <input id="adjective" name="adjective" type="text"><br>
      <label for="noun2">NOUN</label>
      <input id="noun2" name="noun2" type="text"><br>
      <label for="adverb">ADVERB</label>
      <input id="adverb" name="adverb" type="text"><br>

     <button type="submit">Go!</button>
    </form>
  </body>
</html>
