<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Pick your Madlibs yo</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>

  <h1>PICK YOUR MADLIBS, YOU WACKY M.F.ER!</h1>
  <h3><a href="/form">Click here for a wicked sick madlid in the woods!</a></h3>
  <h3><a href="/formpizza">Click here for a wicked sick adventure with pizza!</a></h3>

</body>
</html>
