<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pick your Madlibs yo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>PICK YOUR MADLIBS, YOU WACKY M.F.ER!</h1>

    <select class="formPicker" name="formPicker">
      <option value="woods">A Woodland adventure!</option>
      <option value="wwe">WRESTLING!</option>
      <option value=""></option>
      <option value=""></option>

    </select>

  </body>
</html>
